/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    background-color: #D4A76A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFDBAA;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid black;
}

header h1 {
    color: #553100;
    margin: 0;
    font-size: 300%;
    width: 50%;
}

nav button {
    width: 140px;
    margin: 15px;
}

.horizontal-layout {
    display: flex;
    margin: 30px;
}

.horizontal-layout .inner-box {
    width: 33%;
}

button {
    background-color: #805215;
    color: white;
    height: 60px;
    font-size: 130%;
    font-weight: bold;
    border: 0px;
}

.inner-box {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.75);
    margin-inline: 50px;
    padding: 10px;
    font-size: 120%;
}

.inner-box h2 {
    text-align: center;
}

.inner-box button {
    width: 100%;
    border: 1px solid black;
}