/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    background-color: #D4A76A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header {
    background-color: #FFDBAA;
}

header h1 {
    color: #553100;
}

.horizontal-layout {
    display: flex;
    margin: 30px;
}

button {
    background-color: #805215;
    color: white;
}

.inner-box {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.75);
    margin-inline: 50px;
}